html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(#f3f3f3, #333);
}

button {
  font-size: 7px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

.flow > * + * {
  margin-top: 1rem;
}

.flow-left > * + * {
  margin-left: 0.25rem;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.task-value {
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.task > * + * {
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.task-color-1 .task-value {
  background-color: red;
}

.task-color-2 .task-value {
  background-color: orange;
}

.task-color-3 .task-value {
  background-color: yellow;
}

.task-color-4 .task-value {
  background-color: green;
}

.task-color-5 .task-value {
  background-color: blue;
}

.task-color-6 .task-value {
  background-color: indigo;
}

.task-color-7 .task-value {
  background-color: violet;
}

.task-prio-2 .task-prio {
  background-color: red;
}

.task-prio-1 .task-prio {
  background-color: green;
}

.task-prio-0 .task-prio {
  background-color: steelblue;
}
